#langMenu, #sentenceMenu {
    text-align: center;
}

select {
    font-size: large;
    text-align: center;
}

select#lang {
    height: 5vh;
    width: 20vw;
    font-size: larger;
    text-align: center;
}

select#sentence {

    height: 5vh;
    width: 25vw;
    font-size: larger;
    text-align: center;
}

.hide {
    display: none;
}

h2 {
    color: blue;
    text-align: center;
}

form {
    text-align: center;
}

table {
    text-align: center;
    margin: auto;
    font-size: large;
}

td, th {
    border: solid 1px black;
    padding: 1.5vh;
}

th {
    color: red;
}

#submit {
    width: 10vw;
    height: 5vh;
    font-size: large;
}